.title-jumbotron {
    color: white;
    background-color: blue;
    padding: 20px;
    border: 5px solid black; 
    width: 100%;
}
.accept{
   padding: 10px;
   background-color: green;
   color: white;
   border-radius: 10px;
}
ul{
    list-style-type: none; 
  padding-left: 0;
}
.reject{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
}

.abstract-content{
    font-size:24px;
}
.hover-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}
.hover-button-spanish {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}
.hover-button:hover {
    background-color: #05053f;
}

.video-container {
    display: flex;
    flex-direction: column;
}

.video-container video {
    margin-right: 10px;
}

.col {
    border: 5px solid black; 
}

.img-containter_1, .img-containter_2 {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .image-container {
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.image-wrapper {
    padding: 0 15px; 
}
  .resizable-image {
    max-width: 100%; 
    height: auto; 
    display: block;
    margin: 0 auto;
  }

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
    margin: auto;
    position: relative;
}


.container {
    width: 100%;
    height: auto; 
    display: flex;
   
    justify-content: center;
    align-items: center;
    

}

@media (min-width: 768px) {
    .container {
        flex-direction: row; 
    }
}
.feedback-text{
    font-size: 30px;
}

.dropdown-item{
   width: 100%;
}
.hover-button-spanish:hover{
      background-color: orange;
}