.title-jumbotron {
    color: white;
    background-color: blue;
    padding: 20px;
    border: 5px solid black; /* Combined border property */
    width: 100%;
}
.accept{
   padding: 10px;
   background-color: green;
   color: white;
   border-radius: 10px;
}
ul{
    list-style-type: none; /* Remove default list-style */
  padding-left: 0;
}
.reject{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
}

.abstract-content{
    font-size:24px;
}
.hover-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.hover-button:hover {
    background-color: purple;
}

.video-container {
    display: flex;
    flex-direction: column;
}

.video-container video {
    margin-right: 10px;
}

.col {
    border: 5px solid black; /* Combined border property */
}

.img-containter_1, .img-containter_2 {
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
    margin: 0 auto !important;
  }
  .image-container {
    text-align: center;
    
    
    
}
  .resizable-image {
    max-width: 100%; /* makes sure the image is not wider than its container */
    height: auto; /* keeps the image's aspect ratio intact */
    display: block; /* prevents inline default spacing */
    margin: 0 auto; /* centers the image in its container if it's smaller */
  }

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
    margin: auto;
    position: relative;
}

.arrow-down::after {
    content: "";
    position: absolute;
    top: 20px;
    left: -20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
}
.container {
    width: 100%;
    height: auto; /* Changed height to auto for responsiveness */
    display: flex;
   /* flex-direction: column; /* Change to column layout for mobile */
    justify-content: center;
    align-items: center;
    

}

@media (min-width: 768px) {
    .container {
        flex-direction: row; /* Switch back to row layout for larger screens */
    }
}
.feedback-text{
    font-size: 30px;
}

.dropdown-item{
   width: 100%;
}